@model IEnumerable<HotelManagementApplication.Models.Booking>
@{
    ViewData["Title"] = "BOOKINGS";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        @ViewData["Title"]
                    </div>
                    <div class="col text-right">
                        <a asp-action="Create" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus-circle"></i>
                            Create
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table table-hover table-striped table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(m => m.ID)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.BookingName)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.StartOn)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.Duration)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.Capacity)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.RoomTypeID)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="booking-@item.ID">
                                <td class="align-middle">@Html.DisplayFor(m => item.ID)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.BookingName)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.StartOn)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.Duration) Days</td>
                                <td class="align-middle">
                                    @item.Customers.Count()/@Html.DisplayFor(m => item.Capacity)
                                    <a href="javascript:;" data-id="@item.ID" class="btn btn-customers btn-sm btn-link">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                </td>
                                <td class="align-middle">@Html.DisplayFor(m => item.RoomType.Name)</td>
                                <td class="align-middle text-right">
                                    <a asp-action="Create" asp-controller="Customer" asp-route-id="@item.ID" class="btn btn-sm btn-outline-success">
                                        <span class="fa fa-plus-circle"></span>
                                    </a>
                                    <a href="javascript:;" data-id="@item.ID" class="btn btn-sm btn-view btn-outline-primary">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                    <a href="javascript:;" data-id="@item.ID" class="btn btn-sm btn-delete btn-outline-danger">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                Total: @Model.Count()
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-1">
            <div class="card-header">OVERVIEW</div>
            <div id="details" class="card-body">
                <div class="alert alert-info m-0" role="alert">
                    <i class="fa fa-info-circle"></i> You not have overviewed any booking.
                </div>
            </div>
        </div>
        <div style="display: none" id="customer" class="card">
            <div class="card-header">CUSTOMERS</div>
            <div id="customers" class="card-body">
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>

    <script>
        $('.btn-view').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                type: 'Get',
                url: '/api/bookings/' + id,
                data: { id: id }
            })
            .done(function (response) {
                $.each(response, function (index, element) {
                    var payment = numeral(element.payment);
                    var remainingAmount = numeral(element.remainingAmount);
                    $('#details').html(
                        '<strong>Booking Name:</strong> ' + element.bookingName + '<br />' +
                        '<strong>Room Type:</strong> ' + element.roomType + '<br />' +
                        '<strong>Duration:</strong> ' + element.duration + ' Days<br />' +
                        '<strong>Capacity:</strong> ' + element.capacity + '<br />' +
                        '<strong>Start Date:</strong> ' + moment(element.startOn).format('D.M.YYYY') + '<br />' +
                        '<strong>Created at:</strong> ' + moment(element.createdAt).format('D.M.YYYY - h:mm:ss') +
                        '<hr />' +
                        '<strong>Payment:</strong> ' + payment.format('0,0[.]00') + ' TRY<br />' +
                        '<strong>Remaining Amount:</strong> ' + remainingAmount.format('0.00') + ' TRY<br />'
                    );
                });
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert('An error occurred.');
            });

            return false;
        });

        $('.btn-customers').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                type: 'Get',
                url: '/api/customers/' + id,
                data: { id: id }
            })
            .done(function (response) {
                $('#customer').show();
                if (response.length > 0) {
                    $.each(response, function (index, element) {
                        $('#customers').append(
                            '<ul style="list-style: none" class="p-0">' +
                                '<li><strong>' + element.fullName + '</strong> ' +
                                    '<ul>' +
                                        '<li><strong>Phone:</strong> ' + element.phoneNumber + '</li>' +
                                        '<li><strong>City:</strong> ' + element.city + '</li>' +
                                    '</ul>' +
                                '</li>' +
                            '</ul>'
                        );
                    });
                }
                else {
                    $('#customers').html(
                        'There are no any customers that belong to this booking.'
                    );
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert('An error occurred.');
            });

            return false;
        });

        $('.btn-delete').click(function () {
            var confirmDelete = confirm("Are you sure you want to delete this booking?");
            var id = $(this).attr('data-id');
            if (confirmDelete == true) {
                $.ajax({
                    type: 'Delete',
                    url: '/api/bookings/' + id,
                    data: { id: id }
                })
                .done(function (response) {
                    $('#booking-' + id).html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('An error occurred.');
                });

                return false;
            }
        }); 
    </script>
}