@model HotelManagementApplication.Models.ViewModels.RoomViewModel
@using HotelManagementApplication.Services
@inject RoomTypeService TypeService
@{
    ViewData["Title"] = "ROOMS";
    int counter = 1;
}
<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        @ViewData["Title"]
                    </div>
                    <div class="col text-right">
                        <a asp-action="Create" asp-controller="Room" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus-circle"></i>
                            Create
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table table-hover table-striped table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Room Type</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col">Created at</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Rooms)
                        {
                            <tr id="room-@item.ID">
                                <td class="align-middle">@Html.DisplayFor(m => item.RoomNumber)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.RoomType.Name)</td>
                                <td class="align-middle text-center">
                                    <partial name="_EntityStatusPartial" model="@item.IsAvailable" />
                                </td>
                                <td class="align-middle">@Html.DisplayFor(m => item.CreatedAt)</td>
                                <td class="text-right align-middle">
                                    <a asp-action="Edit" asp-route-id="@item.ID" asp-controller="Room" class="btn btn-sm btn-outline-primary">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                    <a href="javascript:;" data-type-id="@item.ID" class="btn btn-sm btn-outline-danger btn-room">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Total: @Model.Rooms.Count()
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        ROME TYPES
                    </div>
                    <div class="col text-right">
                        <a asp-action="Create" asp-controller="RoomType" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus-circle"></i>
                            Create
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-hover table-striped table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Tax</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Types)
                        {
                            <tr id="type-@item.ID">
                                <td class="align-middle">@Html.Raw(counter)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.Name)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.Price)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.Tax)</td>
                                <td class="align-middle text-center">
                                    <partial name="_EntityStatusPartial" model="@item.IsAvailable" />
                                </td>
                                <td class="text-right align-middle">
                                    <a asp-action="Edit" asp-route-id="@item.ID" asp-controller="RoomType" class="btn btn-sm btn-outline-primary">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                    <a href="javascript:;" data-type-id="@item.ID" usage="@TypeService.IsUsed(item.ID)" class="btn btn-sm btn-outline-danger btn-type">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Total: @Model.Types.Count()
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>

    <script>
        $('.btn-type').click(function () {
            if ($(this).attr('usage') == 'Unused') {
                var confirmDelete = confirm("Are you sure you want to delete this room type?");
                var id = $(this).attr('data-type-id');
                if (confirmDelete == true) {
                    $.ajax({
                        type: 'Delete',
                        url: '/api/roomtypes/' + id,
                        data: { id: id }
                    })
                        .done(function (response) {
                            $('#type-' + id).html(response);
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('An error occurred.');
                        });
                    return false;
                }
            }
            else {
                alert('You cannot delete the room type which used by any rooms.');
            }
        });

        $('.btn-room').click(function () {
            var confirmDelete = confirm("Are you sure you want to delete this room?");
            var id = $(this).attr('data-type-id');
            if (confirmDelete == true) {
                $.ajax({
                    type: 'Delete',
                    url: '/api/rooms/' + id,
                    data: { id: id }
                })
                    .done(function (response) {
                        $('#room-' + id).html(response);
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('An error occurred.');
                    });

                return false;
            }
        });
    </script>
}